#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Math;Spreadsheet;Office
Comment[en_US]=A Python based spreadsheet
Comment=A Python based spreadsheet
Exec=/usr/bin/pyspread %f
GenericName[en_US]=
GenericName=
Keywords=python;spreadsheet;matplotlib;math;
Icon=pyspread
MimeType=application/x-pyspread-spreadsheet;application/x-pyspread-bz-spreadsheet
Name[en_US]=pyspread
Name=pyspread
Path=
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
