[Desktop Entry]
Categories=Math;Spreadsheet;Office
Comment[en_US]=A Python based spreadsheet
Comment=A Python based spreadsheet
Encoding=UTF-8
Exec=/usr/bin/pyspread
GenericName[en_US]=
GenericName=
Icon=/home/mn/prog/pyspread/share/icons/pyspread.ico
MimeType=
Name[en_US]=pyspread
Name=pyspread
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
