
// Main font
$logo_font: sans-serif;

// Primary color
$p_color: #008500;

// color loght, mid + dark
$c_light: #67E667;
$c_mid: #39E639;
$c_dark: #269926;

// main font size
$font_size: 1.0em;

.pyspread {
    color: $p_color;
    font-family: $logo_font;
    font-style: oblique;
}

// Set max width for content
.container {
    max-width: 1000px;
}



// Main navigation at top
#mainNav {

    padding: 0;
    border-bottom: 1px dotted #000000;

    // main logo
    .navbar-brand {
        width: 200px;
        color: $p_color;
        text-shadow: 1px 1px 1px #cccccc;
        font-size: 18pt;
        font-family: sans-serif;
        height: 50px;
        margin-left: 20px;
    }


    // Toggle button
    .navbar-toggler {
        color: $p_color !important;
    }

    // nav links
    a.nav-link {
        margin-top: 0;
        border-radius: 5px;
        color: #444444;
    }
    a:hover {
        color: $p_color;
        background-color: #fefefe;
    }
}

// images in slides
.x-slide-img {
    height: 200px;
}

.homepage_slides {
    background-color: #444444;
    border-radius: 10px;
    // center images
    .carousel-item > img {
      margin: 0 auto;
    }
}

// Main content
.main {
    min-height: 700px;
    margin-top: 30px;
    font-size: $font_size;

    .ximg-right {
        float: right;
        margin: 0 0 20px 40px;
    }

    p, ul {
        margin-left: 50px;
        margin-top: 10px;
        max-width: 800px;

    }

    ul ul {
        margin-left: 0;
    }

    h1 {
        font-size: 2.1em;
        color: #eeeeee;
        background: rgba($c_light, 0.2);
        color: $p_color;
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 1px 1px 1px #eeeeee;
        margin-bottom: 20px;
    }

    h1.manual {
        background: rgba(#E667AF,0.2);
        color: #992667;
    }

    h2 {
        font-size: 1.5em;
        color: #333333;
        background-color: rgba(#FFB273, 0.2);

        border-bottom: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2.manual {
        background: rgba(#E667AF,0.2);
        color: #992667;
    }

    h3 {
        font-size: 1.3em;
        color: #333333;
        background-color: rgba(#dddddd, 0.2);
        border-bottom: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 1.0em;
        color: #1E51BD;
        background-color: rgba(#dddddd, 0.5);
        border-bottom: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        border-left: 8px solid #1E51BD;
    }
    h5 {
        font-size: 1.0em;
        color: #1E51BD;
        background-color: rgba(#dddddd, 0.5);
        border-bottom: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 30px;
        border-left: 8px solid #1E51BD;
    }

    pre {
        margin: 0;
    }

    div.highlight {

        margin-left: 50px;

        pre {
            margin: 0;
            background-color: #eeeeee;
            border-radius: 5px;
            padding: 8px;
        }
    }

    code.highlighter-rouge {
        background-color: #eeeeee;
        padding-left: 3px;
        padding-right:  3px;
    }


    strong[data-value="pyspread"] {
        color: red;
    }

    // Hack to make menu command
    strong code {
        color: #1E51BD;
        font-style: oblique;
        font-weight:  normal;
        background-color: #E9F0FF !important;
        font-family: sans-serif;
        padding-left: 4px;
        padding-right: 4px;
    }
}

footer {
    margin-top: 40px;
    padding: 10px;
    border-top: 1px dotted #000000;

    p {
        text-align: center;
    }
}
